#content {
    width: 100%;
    overflow: hidden;
}

#embed-loading-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: #F0EFEF;
    opacity: 0.7;
}

#embed-loading-wrapper img {
    height: auto;
}

#feti-logo {
    position: absolute;
    z-index: 100;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

#feti-logo:hover {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#map-container {
    padding: 0px;
    width: 100%;
    height: 100%;
}

#map-search {
    display: none;
}

#map-section {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#result {
    padding-top: 0px !important;
    top: 0 !important;
    width: 100%;
    z-index: 110;
}

#result-title {
    font-size: 12px;
    padding: 7px;
    height: 33px !important;
}

#result-container-wrapper {
    padding-top: 35px !important;
}

#toogle-button {
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 0px;
    padding: 5px;
    z-index: 120;
}

#toogle-button:hover {
    opacity: 1;
}

.embed-result {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.favorites {
    display: none !important;
}

.gotomap {
    padding-top: 5px;
    color: green;
    display: block !important;
    font-size: 24px !important;
}

.gotomap:hover {
    color: darkgreen;
}

.leaflet-bar {
    display: none !important;
}

.leaflet-control {
    margin-top: 0px !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    font-size: 10px;
    width: 150px !important;
}

.leaflet-popup-content-wrapper h3 {
    font-size: 13px;
}

.map-section {
    padding-top: 0px !important;
}

.result-row {
    margin-left: 0px !important;
    font-size: 10px !important;
    padding: 5px !important;
}

.result-title {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.result-title h3 {
    font-size: 12px !important;

}

.result-title .details {
    font-size: 10px !important;
    margin-left: 50px;
}

.result-title img {
    width: 39px !important;
    height: auto;
    padding-top: 7px;
    padding-left: 7px;
    margin-right: 10px;
}

.round-button {
    width: 30px;
    height: 30px;
}

.round-button-circle {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #4679BD;
    background-color: #f8f8ff;
    color: #4679BD;
    cursor: pointer;
    position: relative;
    font-size: 10px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.round-button-circle .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.round-button-circle:hover {
    background: rgba(29, 104, 179, 0.3);
}