.navbar-bnpb.navbar {
    background-color: #1347A8;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control::-webkit-input-placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control::-webkit-input-placeholder {
    color: #FFFFFF;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control::-moz-placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control::-moz-placeholder {
    color: #FFFFFF;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control:-ms-input-placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control:-ms-input-placeholder {
    color: #FFFFFF;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control::placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control::placeholder {
    color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
}

.btn-primary.btn-flat:not(.btn-link) {
    color: #1347A8;
}
.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #1347A8;
    color: rgba(255, 255, 255, 0.84);
}
.open > .dropdown-toggle.btn-primary {
    background-color: #1347A8;
}

.campus-heading{
    cursor: pointer;
}