.navbar-brand img{
    height: 30px;
}

.navbar-bnpb.navbar {
    background-color: #1347A8;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control::-webkit-input-placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control::-webkit-input-placeholder {
    color: #FFFFFF;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control::-moz-placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control::-moz-placeholder {
    color: #FFFFFF;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control:-ms-input-placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control:-ms-input-placeholder {
    color: #FFFFFF;
}
.navbar-bnpb.navbar .navbar-form .form-control-wrapper input.form-control::placeholder,
.navbar-bnpb.navbar .navbar-form input.form-control::placeholder {
    color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
}

.btn-primary.btn-flat:not(.btn-link) {
    color: #1347A8;
}
.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #1347A8;
    color: rgba(255, 255, 255, 0.84);
}
.open > .dropdown-toggle.btn-primary {
    background-color: #1347A8;
}

.provider-heading {
    cursor: pointer;
}

.course-list-item {
    cursor: pointer;
    border-bottom: 1px solid #AAAAAA;
}

.course-list-item:last-child{
    border-bottom: none;
}

/* navbar search */
#form-search span{
    width: 300px;
    background-color: #FFFFFF;
    padding: 8px;
    border-bottom: 1px solid #FFFFFF;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

#form-search span > *{
    display: inline-block;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
}

#form-search input::-webkit-input-placeholder{
    color: #616161;
}
#form-search input:-moz-placeholder{
    color: #616161;
}
#form-search input::-moz-placeholder{
    color: #616161;
}
#form-search input:-ms-input-placeholder {
    color: #616161;
}

#form-search input[type=submit]{
    background-color: #1e6bff;
    color: #FFFFFF;
    border: none;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    height: 33px;
}

#search-clear {
    cursor: pointer;
}

/* Share control */
#share-control-button{
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font: bold 15px 'Lucida Console', Monaco, monospace;
}

#share-control-button:hover{
    background-color: #f4f4f4;
}

#share-control-action{
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.popup-field{
    border-bottom: 1px dashed #cccccc;
    padding: 8px;
}

.popup-field:last-child{
    border-bottom: none;
    padding: 0px;
}

#share-link-url{
    width: 200px;
}

#share-link-copy-button, #share-link-copy-button.zeroclipboard-is-active{
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
}

#share-link-copy-button:hover, #share-link-copy-button.zeroclipboard-is-hover{
    background-color: #f4f4f4;
}

#share-control-popup-close-button{
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    font: bold 15px 'Lucida Console', Monaco, monospace;
}

#share-control-popup-close-button:hover{
    background-color: #f4f4f4;
}
#share-control-pdf-button{
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    font: bold 15px 'Lucida Console', Monaco, monospace;
}

#share-control-pdf-button:hover{
    background-color: #f4f4f4;
}}

/* Popup related */
.course-list{
    max-height: 200px;
    overflow-y: auto;
}
