.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../images/beau-blue-solid-color-background.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.partner {
    height: 120px;
    background-color: #eeeeee;
}

.m-button {
    font-weight: lighter;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 16px;
    text-decoration: none;
}

.m-button.cancel-button:hover {
    color: white;
    background-color: #a92121;
}

.m-button.cancel-button {
    color: #801717;
}

.m-button.clear-button:hover {
    color: white;
    background-color: #a92121;
}

.m-button.clear-button {
    width: 45px !important;
}

.m-button:hover {
    background-color: #155ba2;
}

.m-button.active {
    background-color: #155ba2;
}

.m-button:active {
    position: relative;
    top: 1px;
}

.m-button.disabled {
    opacity: 0.5;
    cursor: default;
}

.m-button.disabled:hover {
    background-color: rgba(255, 255, 255, 0.0);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/** MAP **/

.leaflet-draw-toolbar-top {
    display: none;
}

#feti-map-wrapper {
    height: 600px;
}

#feti-map, #map-template {
    /* Map */
    height: 100%;
    width: 100%;
}

.map-section {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
}

#map-container {
    height: 600px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 55px;
}

@media (min-width: 1200px) {
    #map-container {
        width: 1170px;
    }
}

@media (max-width: 992px) {
    #map-container {
        width: 970px;
    }
}

@media (max-width: 768px) {
    #map-container {
        width: 750px;
    }
}

.search-category {
    background-color: #1d68b3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 55px;
    text-align: center;
    z-index: 99998;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.search-category .col {
    height: 55px;
}

.search-category .col p {
    line-height: 55px;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .search-category .col p {
        font-size: 10pt;
        font-weight: lighter;
    }
    .filter {
        display: none;
    }
}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .search-category .col p {
        font-size: 11pt;
        font-weight: lighter;
    }
}

@media (min-width:768px)  {
    .search-category .col p {
        font-size: 14pt;
        font-weight: bolder;
    }
    .filter {
        display: block;
    }
}

.search-category .nav-tabs>li.active>a {
    background-color: rgba(51, 118, 186, 1);
    border-bottom-width: 0;
    color: white;
}

#map-search {
    position: relative;
}

.search-category .row, #map-search {
    color: white;
    font-size: 14pt;
    text-align: center;
}

.map-option {
    margin-top: 7px;
    padding-top: 6px;
}

.map-question {
    display: inline-block;
    margin-right: 50px;
    padding-top: 13px;
    text-align: right;
}

.search-bar {
    background-color: rgba(29, 104, 179, 0.9);
    display: none;
    font-size: 10px;
    height: 55px;
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: 100;
}

.search-bar .m-button {
    width: 140px;
}

#search-bar {
    display: inline-block;
    margin-right: 20px;
    margin-top: 11px;
    width: 100%;
}

#search-bar i {
    color: black;
}

.form-control {
    border-radius: 14px !important;
}

#result {
    display: none;
    position: absolute;
    right: 0px;
    top: 55px;
    padding-top: 55px !important;
    background: white;
    z-index: 99;
}

.modal-backdrop {
    z-index: 1000099 !important;
}

#email-modal, .modal {
    margin-top: 200px;
    z-index: 1000100 !important;
}

#result-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.share-button {
    position: relative;
    top: 40%;
    width: 100%;
    transform: translateY(-45%);
    border-radius: 20px;
    background-color: white;
    color: #008CBA;
    border: 2px solid #008CBA;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.share-row {
    height: 100%;
}

.share-button:hover {
    background-color: #008CBA;
    color: white;
}

#result-share-container {
    height: 80px;
    background-color: red;
}

#back-home {
    font-size: 12pt;
    display: none;
    position: absolute;
    left: 50px;
    top: 13px;
}

#back-home:hover {
    cursor: pointer;
    color: #084889;
}

.result-toogle {
    cursor: pointer;
    font-size: 24pt;
    position: absolute;
    right: 50px;
    top: 13px;
}

.result-toogle:hover {
    opacity: 0.7;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#introduction_carousel {
    height: 450px;
}

#myCarousel, .carousel {
    width: 100% !important;
}

/* Carousel base class */
.carousel {
    height: 450px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    text-align: left;
    z-index: 10;
    padding-bottom: 5%;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.carousel-caption h1 {
    font-size: 3.5em;
    width: 600px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 450px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .0001) 100%);
}

.carousel-control.right {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .0001) 100%);
}

.result-loading, .result-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.result-loading, .result-empty {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    opacity: 0.5;
}

.ui-autocomplete {
    max-height: 500px !important;
    z-index: 1000002 !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ui-menu-item {
    font-weight: 300 !important;
    background: white !important;
    border-bottom: solid 1px rgba(30, 107, 255, .4) !important;
}

.ui-menu-item-wrapper {
    padding: 7px !important;
}

.share-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 72px;
    background: white !important;
}

#result {
    height: 100%;
    border-left: 1px solid rgba(29, 104, 179, 1);
}

#result-container-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 72px;
    padding-top: 45px;
}

#result-title {
    position: absolute;
    background: white !important;
    color: rgba(29, 104, 179, 1);
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    height: 45px;
    width: 100%;
}

#result-title-number {
    color: #F27317;
    font-weight: 600;
}

#shadow-map {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 99;
    display: none;
}

#result-detail {
    position: absolute;
    top: 55px;
    left: 0px;
    background: white !important;
    padding: 55px 20px 20px 20px !important;
    display: none;
    z-index: 99;
    overflow-y: scroll;
}

#result-detail div {
    font-weight: 500;
}

#pathways h4 {
    margin-top: 0px !important;
}

.result-container {
    background: #f0efef;
    height: 100%;
    overflow-y: scroll;
}

.result-title {
    font-size: 16px;
    color: #515151;
    background: #fff;
    padding: 4px;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 4px;
    margin-left: 14px;
    border-bottom: none;
    cursor: pointer;
}

.result-title h3 {
    font-size: 16px;
    color: #515151;
    font-weight: 600;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 0;
}

.result-title img {
    width: 54px;
    height: auto;
    margin-right: 20px;
    float: left;
}

.result-title .details {
    margin-left: 74px;
}

.result-title .courses {
    font-style: italic;
    color: #9a9a9a;
    margin-bottom: 6px;
}

.result-title .courses i {
    color: #424242;
}

.result-row {
    font-size: 14px;
    margin-top: 1px;
    margin-left: 77px;
    color: #515151;
    background: #f9f9f9;
    padding: 15px 20px;
    border-bottom: none;
    cursor: pointer;
    font-weight: 500;
}

.result-title:hover, .result-row:hover {
    background: rgba(200, 200, 200, 0.2);
}

.result-title-occupation {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.selected-indicator-right {
    width: 20px;
    height: 30px;
}

.selected-indicator-right .fa {
    color: rgba(29, 104, 179, 1);
    font-size: 30px;
    display: none;
}

.result-title-occupation .selected-indicator-right {
    float: left;
}

.result-title-occupation .title {
    font-size: 16px;
    color: #515151;
    font-weight: 600;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 0;
    float: left;
}

.leaflet-top {
    z-index: 98;
}

.favorites {
    padding-top: 5px;
}

.favorites:hover {
    color: orange;
}

.filled {
    color: orange;
}

.step-course a {
    color: #3376ba;
    font-weight: bold;
}