.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../images/beau-blue-solid-color-background.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #214971;
}

p.copyright, p.login-link, p.login-link a {
    margin: 15px 0 0;
    color: white;
}

p.login-link :hover {
    text-decoration: none;
}

.partner {
    height: 120px;
    background-color: #eeeeee;
}

#feti-map-wrapper {
    height: 600px;
}

.map-category {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: -10px;
    height: 55px;
    background-color: #1d68b3;
}

.map-category .row {
    color: white;
    font-size: 14pt;
    text-align: center;
}

.map-option {
    padding-top: 6px;
}

.map-question {
    padding-top: 13px;
    text-align: right
}

.m-button {
    float: left;
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: lighter;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:10px 16px;
	text-decoration:none;
}
.m-button:hover {
	background-color:#155ba2;
}

.m-button.active {
    background-color:#155ba2;
}

.m-button:active {
	position:relative;
	top:1px;
}

#feti-map {
    height: 600px;
}

#feti-pro, #feti-providers {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}
