/* FETI */
.navbar-bnpb.navbar {
    background-color: #fff;
    color: #333;
    font-weight: normal;
    text-transform: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.22);
}
.navbar-bnpb.navbar .navbar-brand {
	font-weight: bold;
	color: #333;
}
.navbar-header img:nth-child(2) {
	margin-right: 20px;
}
.navbar .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.84);
}
.navbar .navbar-nav > li > a:hover, 
.navbar .navbar-nav > li > a:focus {
    color: rgba(0, 0, 0, 0.94);
}
.panel, .panel-heading {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
}
#side_panel {
	padding: 0;
	background: #4285f4;
}
#form-search span {
	border: 1px solid #ccc;
}
#form-search input[type="submit"] {
    background-color: #4285f4;
	margin-right: 10px;
}
.panel-collapse {
	background: #3873d5;
}
.course-list-item {
    border-bottom: 1px solid #e1ebfd;
    color: #fff;
	padding: 15px 15px 15px 35px;
}
[class*="panel-"] > .panel-heading {
  	color: rgba(255, 255, 255, 0.99);
}
.panel-primary > .panel-heading {
  	background-color: #4285f4;
}
.leaflet-popup-content-wrapper {
	padding: 0 0 20px 0;
}
.leaflet-popup-content {
	margin: 0;
}
.leaflet-popup-content p {
	padding-left: 30px;
	font-weight: bold;
}
.leaflet-header {
	color: #fff;
	background: #4285f4;
	padding: 15px 30px 10px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	min-width: 300px;
}
.leaflet-header h3 {
	font-size: 20px;
	line-height: 22px;
	margin: 0;
}
.leaflet-place, .leaflet-content {
	padding: 12px 30px;
	border-bottom: 1px solid #dcdddd;
}
.leaflet-content i {
	font-size: 14px;
	margin-right: 5px;
}
.leaflet-courses {
	padding: 12px 30px;
}
.course-list {
	padding-right: 20px;
}
#nav-find {
	position: relative;
}
#private-institutes, .form-control-wrapper, #form-search label {
	display: none;
}
/* #form-search {
	position: absolute;
	z-index: 999;
	max-width: 400px;
	height: auto;
	top: 25px;
	left: -400px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.22);
	color: #333;
	padding: 20px;
} */