{% extends "feti_base.html" %}
{% load staticfiles %}
{% load pipeline %}
{% block header %}
    <script>
        $(document).ready(function () {
            $('#login_id').addClass("active");
        });

    </script>
{% endblock %}

{% block title %}
    FORD 2 - Profile
{% endblock title %}

{% block css_head %}
    {% stylesheet 'custom_page' %}
{% endblock %}

{% block content %}
    <div id="additional-bar" class="main-color ">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav">
                    <li>
                        <a>{{ username }}</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    {% if email %}
                        <li>
                            <a>email : {{ email }}</a>
                        </li>
                    {% endif %}
                    {% if full_name %}
                        <li>
                            <a>Full name : {{ full_name }}</a>
                        </li>
                    {% endif %}
                    {% if department %}
                        <li>
                            <a>Department : {{ department }}</a>
                        </li>
                    {% endif %}
                    {% if phone %}
                        <li>
                            <a>Phone : {{ phone }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if campus %}
        <div class="container">
            <h2>PROVIDERS</h2>
            <div id="providers" class="row">
                {% for provider in campus %}
                    <div class="span3">
                        <p><h3>{{ provider.campus }}
                        <a href="/provider/{{ provider.id }}/update/"
                           class="tiny material-icons" style="font-size: 14px">mode_edit</a></h3></p>
                        {% if provider.long_description %}
                            <p> {{ provider.long_description }}</p>
                        {% endif %}
                        {% if provider.address %}
                            <p><i> {{ provider.address }}</i></p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
