<img src="<%- icon %>" width="54" height="54"/>
<div class="details">
    <div class="row" style="padding-bottom: 0">
        <div class="col-md-11" style="padding-left: 0 !important;">
            <h3><%= title %></h3>
            <p class="courses"><%- counts %> courses <i class="fa fa-angle-down" aria-hidden="true"></i></p>
        </div>
        <div class="col-md-1">
            <span id='favorite-<%- id %>' class="favorites pull-right">
                <i class="<%if(saved){print('fa fa-star filled');} else {print('fa fa-star-o')}%>" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>
