<form action="map" method="POST">
    <div class="search-category">
        <span id="back-home">Home</span>
        <span class="map-question">
            What are you looking for?
        </span>
        <span class="m-button map-option" id="where-to-study" data-mode="provider">
            Where to study
        </span>
        <span class="m-button map-option" id="what-to-study" data-mode="course">
            What to study
        </span>
        <span class="m-button map-option" id="choose-occupation" data-mode="occupation">
            Choose occupation
        </span>
    </div>
    <div class="search-bar">
            <span id="search-bar" class="right-inner-addon">
               <i class="icon-search fa fa-search"></i>
               <input id="search-bar-input"
                      type="search"
                      class="form-control"
                      placeholder="Search"/>
            </span>
            <span class="m-button map-option" id="where-to-study">
                Location
            </span>
            <span class="m-button map-option" id="what-to-study">
                Draw a shape
            </span>
            <span class="m-button map-option" id="choose-occupation">
                Travel line
            </span>
        <i id="carousel-toogle" class="carousel-toogle fa fa-caret-left" aria-hidden="true"></i>
    </div>
</form>