<div class="row share-row">
    <div class="col-md-4" style="text-align: center; height: 100%">
        <button class="share-button" id="share-pdf"> Share PDF </button>
    </div>
    <div class="col-md-4" style="text-align: center; height: 100%">
        <button class="share-button" id="share-email"> Share Email </button>
    </div>
    <div class="col-md-4" style="text-align: center; height: 100%">
        <button class="share-button" id="share-social-twitter"> Share To Twitter </button>
    </div>
</div>
