<div id="result-wrapper">
    <div id="result-container-wrapper">
        <div id="result-loading">
            <div><img width="400" height="300" src="/static/feti/images/spinner.gif"></div>
            <div>loading</div>
        </div>
        <div id="result-empty">
            <h1>No result to show.</h1>
        </div>
        <div class="result-container" id="result-container-provider" style="display: none;"></div>
        <div class="result-container" id="result-container-course" style="display: none;"></div>
        <div class="result-container" id="result-container-occupation" style="display: none;"></div>
    </div>
    <div id="result-title">
    </div>
    <div id="share-container">
    </div>
</div>