<div id="result-wrapper">
    <div id="result-container-wrapper">
        <div class="result-loading" style="display: none">
            <div><img width="400" height="300" src="/static/feti/images/spinner.gif"></div>
            <div>loading</div>
        </div>
        <div class="result-empty" style="display: none;">
            <h1>No result to show.</h1>
        </div>

        <div class="result-container" id="result-container-provider" style="display: none;"></div>
        <div class="result-container" id="result-container-course" style="display: none;"></div>
        <div class="result-container" id="result-container-occupation" style="display: none;"></div>
        <div class="result-container" id="result-container-favorites" style="display: none;"></div>
    </div>
    <div id="result-title">
    </div>
    <div class="share-container" style="display: none;">
        <div class="row share-row">
            <div class="col-md-4" style="text-align: center; height: 100%">
                <button class="share-button share-pdf"> Share PDF </button>
            </div>
            <div class="col-md-4" style="text-align: center; height: 100%">
                <button class="share-button share-email"> Share Email </button>
            </div>
            <div class="col-md-4" style="text-align: center; height: 100%">
                <button class="share-button share-social-twitter"> Share To Twitter </button>
            </div>
        </div>
    </div>
</div>