Django==1.8
psycopg2
pytz
django-braces
django-model-utils
django-pipeline>1.4
nodeenv
raven
django-user-map
django-forms-bootstrap
# Django rest framework support
djangorestframework==2.4.4
markdown
django-filter
# Django haystack support
django-haystack
elasticsearch
django-leaflet==0.16.0
django-geojson==2.8.0
django-nested-inline
django-grappelli
