{% load pipeline %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% stylesheet 'contrib' %}
    {% javascript 'contrib' %}
    {% javascript 'appjs' %}

    <meta charset="UTF-8">

    <script>
        $(document).ready(function() {
            $.material.init();
            set_offset();
        });
    </script>

    <title>{% block title %}{% endblock title %}</title>

</head>
<body>

<div id="navigation_bar">
    {% block navigation-bar %}
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    {%  endblock %}
</div>
</body>
</html>
