{% extends "feti/base.html" %}
{% block header %}
{% load geojson_tags %}
    <script>
        $(document).ready(function () {
            show_map();
            $('#campus_details').addClass("active");
            {% for campus in course_dict %}
                add_campus({{ campus|geojsonfeature:"popup_content"|safe }}, {{ campus.id }});
            {% endfor %}
        });

    </script>
    <title>Further Education and Training Institute</title>
{%  endblock %}

{% load bootstrap_tags %}

{% block navigation-bar %}
    {% include "feti/navigation_bar.html" %}
{%  endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "feti/map.html" %}
            </div>
            {# side panel #}
            <div class="col-lg-4" id="side_panel" style="padding-top: 10px;">
                <form method="post">
                    {% csrf_token %}
                    <input dir="ltr" maxlength="250" name="search_terms"
                           value="{{ search_terms }}" type="text" />
                    <button>SEARCH</button>
                </form>
                <div class="bs-component">
                    <div class="panel">
                        {% for campus, courses in course_dict.iteritems %}
                            <div class="panel-primary">
                                <div class="campus-heading panel-heading"
                                     onclick="SelectFeature({{ campus.id }}); CampusItemToggle(this);">
                                    <h3 class="panel-title">
                                        <i class="mdi-navigation-expand-more"
                                                ></i>
                                        {{ campus.campus }}
                                    </h3>
                                </div>
                                <div class="panel-collapse collapse">
                                    {% for course in courses %}
                                    <div class="panel-body">
                                        {{ course.course_description }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div> {# end side panel #}
        </div>
    </div>
    <!-- /container -->
{% endblock %}

