{% extends 'feti_base.html' %}
{% load staticfiles %}
{% load pipeline %}

{% block title %}
    FORD 2
{% endblock title %}

{% block js_head %}

{% endblock %}

{% block css_head %}
    {% stylesheet 'landing_page' %}
    <link rel="stylesheet" type="text/css" href="{% static 'feti/css/login.css' %}">
{% endblock %}

{% block content %}
    <!-- Header -->
    <a name="about"></a>
    <div id="introduction_carousel" class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>WE HELP YOU TO FIND YOUR CAREER</h1>
                        <h2><span class="count">23527</span> COURSES FOUND</h2>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div id="introduction_text" class="content-section-a about-section">
        <div class="container">
            <div class="row intro-section">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">INTRO SECTION</h2>
                    <p class="lead">
                        Duis sit amet est eleifend, gravida nulla ac, egestas metus.
                        Integer ullamcorper metus a ipsum tempus, ut euismod velit elementum.
                        Cras magna nunc, tempor nec elementum vel, fermentum a ligula. In vel turpis turpis. Donec at
                        pellentesque nunc.
                        Fusce dictum neque in mi mattis, rhoncus sollicitudin sem facilisis.
                        Aliquam dapibus, libero sit amet ultricies ullamcorper, lacus neque pulvinar est, et pulvinar
                        elit est sit amet nisl.
                        Quisque hendrerit volutpat sem, sit amet scelerisque erat convallis ut. Integer elementum libero
                        non risus sodales, eget euismod est fringilla.
                        Maecenas ac nisi in diam porttitor semper. Donec blandit aliquam commodo. Donec enim ipsum,
                        viverra sit amet nibh quis, suscipit pharetra turpis.
                    </p>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="map-section">
        <div id="map-container">
            <div id="map-search"></div>
            <div class="row" style="height: 100%; position: relative;">
                <div id="map-section" style="height: 100%; width: 100%"></div>
                <div id="providers" class="col-md-4 nopadding" style="height: 100%"></div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a partner-section">
        <div class="container">
            <div class="row intro-section">
                <div class="col-sm-12">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">OUR PARTNERS</h2>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="partner"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="partner"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="partner"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="partner"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="partner"></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="partner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <p class="copyright text-muted small">Kartoza 2016</p>
                </div>
                <div class="col-lg-2">
                    <p class="login-link pull-right">
                        <a href="#">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block js_inline %}

{#    <script>#}
{#        var dispatcher = _.extend({}, Backbone.Events);#}
{#    </script>#}
{#    <script type='template' id='map-template'>#}
{#        <div id="feti-map"></div>#}
{#    </script>#}
{#    <script type='template' id='login-modal-template'>#}
{#        {% include 'feti/modals/login_modal.html' %}#}
{#    </script>#}
{##}
{#    <script>#}
{##}
{#        var is_logged_in = "{{ user.is_authenticated }}" == "True";#}
{#        // If login error#}
{#        {% if error %}#}
{#            $(document).ready(function(){#}
{#                window.history.pushState("", "", "/");#}
{#            });#}
{#            loginModalView.show();#}
{#        {% endif %}#}
{##}
{#    </script>#}


{#    <script src="/static/feti/js/feti-backbone/feti-models.js"></script>#}
{#    <script src="/static/feti/js/feti-backbone/feti-views.js"></script>#}
{#    <script src="/static/feti/js/feti-backbone/feti-collections.js"></script>#}
{#    <script src="/static/feti/js/feti-backbone/feti-main.js"></script>#}
{#    <script src="/static/feti/js/feti-backbone/feti-route.js"></script>#}

    <!-- Backbone Templates -->
    <script type='template' id='login-modal-template'>
        {% include 'feti/modals/login_modal.html' %}
    </script>

    <script type='template' id='map-template'>
        <div id="feti-map"></div>
    </script>

    <!-- Django context variables -->
    <script>
        var is_logged_in = "{{ user.is_authenticated }}" == "True";
        {% if error %}
            $(document).ready(function(){
                window.history.pushState("", "", "/#login");
            });
        {% endif %}
    </script>

    <script type="text/javascript" src="/static/feti/js/scripts/main.js"></script>

{% endblock %}