{% extends 'feti_base.html' %}
{% load staticfiles %}
{% load pipeline %}
{% load grunt %}

{% block title %}
    FORD 2
{% endblock title %}

{% block js_head %}
    <script>
        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.replace(new RegExp(search, 'g'), replacement);
        };

        var limit_per_page = "{{ limit_per_page }}";
        var favorites = "{{ favorite }}";
    </script>
{% endblock %}

{% block css_head %}
    {% stylesheet 'landing_page' %}
{% endblock %}


{% block content %}
    <!-- Header -->
    <div class="map-section">
        <div id="map-container">
            <div class="row" style="height: 100%; position: relative;">
                <div id="map-section" style="height: 100%; width: 100%">
                    <div id="map-search"></div>
                </div>
                <div id="shadow-map" style="width:100%; height: 100%">
                </div>
                <div id="result" class="col-md-4 nopadding">
                </div>
                <div id="result-detail" class="col-md-8 nopadding" style="height: 100%">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <!-- Modal -->
    <div class="modal fade" id="email-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Share to email</h4>
                </div>
                <div class="modal-body">
                    <form id="email-form">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <button type="submit" id="email-submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="clipboard-modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Share link</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="clipboard">
                        <br>
                        <button id="copy-clipboard" class="btn btn-info"><i class="fa fa-clipboard" aria-hidden="true"></i>
                            Copy to clipboard </button>
                        <span id="copy-status" style="color: #3c763d; font-weight: lighter">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_inline %}

    <!-- Backbone Templates -->
    <script type='template' id='login-modal-template'>
        {% include 'feti/modals/login_modal.html' %}
    </script>

    <script type='template' id='map-template'>
        <div id="feti-map"></div>
    </script>

    <!-- Django context variables -->
    <script>
        Array.prototype.clean = function (deleteValue) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] === deleteValue) {
                    this.splice(i, 1);
                    i--;
                }
            }
            return this;
        };

        var user_location = "{{ user.profile.location }}";
        var is_logged_in = "{{ user.is_authenticated }}" == "True";
        var is_login_error = "{{ error }}" == "True";
        var is_debug_mode = false;

        {% if error %}
            window.history.pushState("", "", "/#login");
        {% endif %}
    </script>

    {% grunt_module "landing_page" %}

{% endblock %}