{% load staticfiles %}
<script type="text/javascript">
    $(document).ready(function(){
        initSearchTermChanged();
    });
</script>
<nav class="navbar navbar-bnpb navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" role="button">
                <img src='{% static "feti/css/images/logo_ipss.png" %}'>
                <img src='{% static "feti/css/images/logo_uwc.png" %}'>
                Further Education and Training Institute</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav_find">
                    <form id="form-search" method="get"
                          action="/"
                          class="navbar-form">
                        <span>
                            <i class="mdi-action-search"></i>
                            <input dir="ltr" maxlength="250"
                                   id="search-terms"
                                   name="search_terms"
                                   value="{{ search_terms }}"
                                   type="text"
                                   placeholder="Search"/>
                            <i id="search-clear"
                               class="mdi-navigation-close"></i>
                        </span>
                        <input type="submit" value="FIND"/>
                    </form>
                </li>
                {% if user.is_authenticated %}
                <li id="nav_project_team">
                    <!--<a href="/project-team/">-->
                    <a href="/feti-admin/" role="button">
                        <i class="mdi-maps-map"></i>
                        Project Team Admin</a>
                </li>
                <li id="nav_logout">
                    <a href="/accounts/logout/" role="button">
                        <i class="mdi-maps-map"></i>
                        Logout</a>
                </li>
                {% else %}
                <li id="nav_login">
                    <a href="/accounts/login/" role="button">
                        <i class="mdi-maps-map"></i>
                        Project Team Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
