<nav class="navbar navbar-bnpb navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Further Education and Training Institute</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav_find">
                    <a href="/find/">
                        <i class="mdi-maps-map"></i>
                        FIND</a>
                </li>
                {% if user.is_authenticated %}
                <li id="nav_project_team">
                    <a href="/project-team/">
                        <i class="mdi-maps-map"></i>
                        Project Team</a>
                </li>
                <li id="nav_logout">
                    <a href="/accounts/logout/">
                        <i class="mdi-maps-map"></i>
                        Logout</a>
                </li>
                {% else %}
                <li id="nav_login">
                    <a href="/accounts/login/">
                        <i class="mdi-maps-map"></i>
                        Project Team Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
