<div id="share-control">
    <div id="share-control-button" class="leaflet-bar">
        <span class="mdi-social-share"></span>
        <span>Share</span>
    </div>
    <div id="share-control-action" class="leaflet-bar" style="display: none;">
        <div id="share-link-field" class="popup-field">
            <span>Share link:</span>
            <input id="share-link-url" type="text" />
            <span id="share-link-copy-button"
                  class="mdi-content-content-copy"></span>
        </div>
        <div class="popup-field">
            <div id="share-control-pdf-button">
                <span class="mdi-navigation-arrow-drop-down-circle"></span>
                <span>Download PDF</span>
            </div>
        </div>
        <div class="popup-field">
            <div id="share-control-popup-close-button">
                <span class="mdi-navigation-close"></span>
                <span>Close</span>
            </div>
        </div>
    </div>
</div>