{% extends "admin/index.html" %}
{% load i18n admin_static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'feti:landing_page' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'feti:landing_page' %}">Back to Map.</a>
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
