version: '3.9'

volumes:
   feti-db-data:

services:
  nginx:
    # Note you cannot scale if you use conteiner_name
    container_name: feti-nginx
    image: nginx
    hostname: nginx
    volumes:
      - ./nginx-conf:/etc/nginx/conf.d
    ports:
      - "0.0.0.0:80:80"
    restart: on-failure
  
  smtp:
    # Note you cannot scale if you use conteiner_name
    container_name: feti-smtp
    restart: on-failure
    #  read_only: true
    image: catatnight/postfix
    hostname: postfix
    environment:
      # You could change this to something more suitable
      - maildomain=kartoza.com
      - smtp_user=noreply:docker
  
  elasticsearch:
    # Note you cannot scale if you use conteiner_name
    container_name: feti-elasticsearch
    restart: on-failure
    #  read_only: true
    image: elasticsearch:2.4.2
    hostname: elasticsearch
    environment:
      - HAYSTACK_PORT=9200
  
  db:
    # Note you cannot scale if you use conteiner_name
    container_name: feti-db
    restart: on-failure
    image: kartoza/postgis:14-3.2
    volumes:
      - feti-db-data:/var/lib/postgresql
      - ./setup_data:/home/setup
      - ./backups:/backups
    environment:
      - USERNAME=docker
      - PASS=docker
  
  dbbackups:
    # Note you cannot scale if you use conteiner_name
    container_name: feti-dbbackups
    restart: on-failure
    image: kartoza/pg-backup:14-3.1
    hostname: pg-backups
    volumes:
      - ./backups:/backups
    links:
      - db:db
    environment:
      - DUMPPREFIX=PG_FETI
      # These are all defaults anyway, but setting explicitly in
      # case we ever want to ever use different credentials
      - PGUSER=docker
      - PGPASSWORD=docker
      - PGPORT=5432
      - PGHOST=db
  
  rabbitmq:
    image: library/rabbitmq
    hostname: rabbitmq
    environment:
       - RABBIT_PASSWORD=rabbit_test_password
       - USER=rabbit_user
       - RABBITMQ_NODENAME=rabbit
  
  worker:
    build: docker
    hostname: worker
    command: celery worker -A feti.celery -l info  --beat
    environment:
      - DATABASE_NAME=gis
      - DATABASE_USERNAME=docker
      - DATABASE_PASSWORD=docker
      - DATABASE_HOST=db
      - DATABASE_QGIS_HOST=db_gis
      - RABBITMQ_HOST=rabbitmq
      - DJANGO_SETTINGS_MODULE=core.settings.prod_docker
      - VIRTUAL_HOST=staging.feti.kartoza.com
      - VIRTUAL_PORT=8080
      - C_FORCE_ROOT=true
      - HAYSTACK_HOST=elasticsearch
    volumes:
      - ../django_project:/home/web/django_project
      - ./static:/home/web/static
      - ./media:/home/web/media
      - ./reports:/home/web/reports
      - ./logs:/var/log/
    links:
      - smtp:smtp
      - db:db
      - elasticsearch:elasticsearch
      - rabbitmq:rabbitmq
  
  uwsgi:
    # Note you cannot scale if you use conteiner_name
    container_name: feti-uwsgi
    restart: on-failure
    build: docker
    hostname: uwsgi
    environment:
      - DATABASE_NAME=gis
      - DATABASE_USERNAME=docker
      - DATABASE_PASSWORD=docker
      - DATABASE_HOST=db
      - RABBITMQ_HOST=rabbitmq
      - DJANGO_SETTINGS_MODULE=core.settings.prod_docker
      - VIRTUAL_HOST=users.inasafe.org
      - VIRTUAL_PORT=8080
      - HAYSTACK_HOST=elasticsearch
    volumes:
      - ../django_project:/home/web/django_project
      - ./static:/home/web/static
      - ./media:/home/web/media
      - ./logs:/var/log/
      - ./webroot-path:/var/www/webroot
      - /etc/letsencrypt:/etc/letsencrypt
    links:
      - smtp:smtp
      - db:db
      - elasticsearch:elasticsearch
      - rabbitmq:rabbitmq
      - worker:worker
  
  # This is normally the main entry point for a production server
  web:
    # Note you cannot scale if you use conteiner_name
    container_name: feti-web
    # read_only: true
    restart: on-failure
    image: nginx
    hostname: nginx
    volumes:
      - ./sites-enabled:/etc/nginx/conf.d:ro
      # I dont use volumes_from as I want to use the ro modifier
      - ./static:/home/web/static:ro
      - ./media:/home/web/media:ro
      - ./logs:/var/log/nginx
    links:
      - uwsgi:uwsgi
    ports:
      - "63100:8080"
  
  # This is the entry point for a development server.
  # Run with --no-deps to run attached to the services
  # from produ environment if wanted
  devweb:
    # Note you cannot scale if you use container_name
    container_name: feti-dev-web
    build:
      context: docker
      dockerfile: Dockerfile-dev
    hostname: uwsgi
    environment:
      - DATABASE_NAME=gis
      - DATABASE_USERNAME=docker
      - DATABASE_PASSWORD=docker
      - DATABASE_HOST=db
      - DJANGO_SETTINGS_MODULE=core.settings.dev_docker
      - PYTHONPATH=/home/web/django_project
      - VIRTUAL_HOST=feti.kartoza.com
      - VIRTUAL_PORT=8080
      - RABBITMQ_HOST=rabbitmq
      - HAYSTACK_HOST=elasticsearch
    volumes:
      - ../django_project:/home/web/django_project
      - ./static:/home/web/static
      - ./media:/home/web/media
      - ./reports:/home/web/reports
      - ./logs:/var/log/
    links:
      - smtp:smtp
      - db:db
      - elasticsearch:elasticsearch
      - rabbitmq:rabbitmq
      - worker:worker
    ports:
      # for django test server
      - "63102:8080"
      # for ssh
      - "63103:22"
