{% extends 'main_base.html' %}

{% block navbar %}
    {% include 'feti/navigation_bar.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('input[type="date"]').datepicker(
                {
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true
                }
            ).attr('type','text');
            $(document).tooltip();
        });
    </script>
    <div class="container foot">
        <div class="row">
            <div class="col-lg-10">
                <p class="copyright text-muted small">Kartoza 2016</p>
            </div>
            <div class="col-lg-2">
                <p class="login-link pull-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Log out</a>
                    {% else %}
                        <a href="/#login">Log In</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
