<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Feti Jasmine Spec Runner v2.0.0</title>

  <link rel="shortcut icon" type="image/png" href="/static/js/libs/jasmine-2.5.2/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/js/libs/jasmine-2.5.2/jasmine.css">
  <script type="text/javascript" src="/static/js/libs/require.min.js" data-main="/static/js/jasmine-main"></script>
</head>
<body>
<script type='template' id='map-template'>
    <div id="feti-map"></div>
</script>
<script type="text/javascript">

    var user_location = "";
    var is_logged_in = false;
    var is_login_error = false;
    var favorites = null;
    var is_debug_mode = true;

</script>
</body>
</html>