{% load pipeline %}
{% load user_admin %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/feti/js/libs/jquery-ui-1.12.0.min.js"></script>

    {% stylesheet 'contrib' %}
    {% stylesheet 'feti-base' %}
    {% javascript 'contrib' %}
    {% javascript 'appjs' %}

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{% static 'feti/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'feti/leaflet-extra-markers/leaflet.extra-markers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'feti/css/jquery-ui-1.12.1.min.css' %}">

    <title>{% block title %}{% endblock title %}</title>

    {% block js_head %}{% endblock %}
    {% block css_head %}{% endblock %}
</head>
<body>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

    {% block footer %}
    {% endblock %}

{% block navbar %}
{% endblock %}

{% block js_inline %}
{% endblock %}

</body>
</html>
