<div id="result-wrapper">
    <div id="result-title">
    </div>
    <div id="result-filter-data">
    </div>
    <div id="result-container-wrapper">
        <div class="result-loading" style="display: none">
            <div><img width="400" height="300" src="/static/feti/images/spinner.gif"></div>
            <div>loading</div>
        </div>
        <div class="result-empty" style="display: none;">
            <h1>No result to show.</h1>
        </div>

        <div class="result-container" id="result-container-provider" style="display: none;"></div>
        <div class="result-container" id="result-container-course" style="display: none;"></div>
        <div class="result-container" id="result-container-occupation" style="display: none;"></div>
        <div class="result-container" id="result-container-favorites" style="display: none;"></div>
    </div>

    <div class="share-container" style="display: none;">
        <div class="row share-row">
            <div class="col-sm-4 share-item">
                <p class="share-icon share-pdf">
                    <a data-tooltip="Download summary PDF">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            <div class="col-sm-4 share-item">
                <p class="share-icon share-email">
                    <a data-tooltip="Send summary via email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            <div class="col-sm-4 share-item">
                <p class="share-icon share-social-twitter">
                    <a data-tooltip="Share to twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>