coverage
pep8
pylint
flake8
factory_boy

# django-devserver
git+https://github.com/dimasciput/django-devserver.git

# documentation
Sphinx

# pdb plus plus
# not suppported in python 3.6
# pdbpp

# hizashi-utils
# hizashi-utils

