Django==1.8.14
psycopg2==2.7.4
pytz==2018.3
django-braces==1.12.0
django-extra-views==0.10.0
django-model-utils==3.1.1
django-pipeline==1.6.10
nodeenv==1.2.0
raven==6.6.0
django-user-map==1.1.1
django-forms-bootstrap==3.1.0
# Django rest framework support
djangorestframework==3.5.3
markdown==2.6.11
django-filter==1.1.0
elasticsearch==5.0.1
django-leaflet==0.16.0
django-geojson==2.8.0
django-nested-inline==0.3.7
django-grappelli==2.7.3
django-crispy-forms==1.4.0
setuptools==18.5
WeasyPrint==0.42.2
requests<2.12
beautifulsoup4==4.6.0
django-allauth>=0.33,<0.34
django-betterforms==1.1.4
celery<3.2
more_itertools==4.1.0
# Django haystack support
git+https://github.com/dimasciput/django-haystack.git
# Cors header
django-cors-headers==2.1.0
# prometheus monitoring support
django-prometheus
prometheus_client