alabaster==0.7.10
amqp==1.4.9
anyjson==0.3.3
astroid==1.6.1
Babel==2.5.3
beautifulsoup4==4.6.0
billiard==3.3.0.23
cairocffi==0.8.0
CairoSVG==2.1.3
celery==3.1.25
cffi==1.11.5
coverage==4.5.1
cssselect2==0.2.1
defusedxml==0.5.0
Django==1.8.14
django-allauth>=0.33,<0.34
django-betterforms==1.1.4
django-bootstrap-form==3.3
django-braces==1.12.0
django-cors-headers==2.1.0
django-crispy-forms==1.4.0
django-devserver==0.8.0
django-extra-views==0.10.0
django-filter==1.1.0
django-forms-bootstrap==3.1.0
django-geojson==2.8.0
django-grappelli==2.7.3
django-haystack==2.5.1
django-leaflet==0.16.0
django-model-utils==3.1.1
django-nested-inline==0.3.7
django-pipeline==1.6.10
django-user-map==1.1.1
djangorestframework==3.5.3
djangorestframework-gis==0.12
docutils==0.14
elasticsearch==5.0.1
factory-boy==2.10.0
Faker==0.8.11
flake8==3.5.0
html5lib==1.0.1
imagesize==1.0.0
isort==4.3.4
Jinja2==2.10
kombu==3.0.37
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.1.0
nodeenv==1.2.0
oauthlib==2.0.6
packaging==17.1
pdfrw==0.4
pep8==1.7.1
Pillow==5.0.0
psycopg2==2.7.4
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.8.2
pyparsing==2.2.0
Pyphen==0.9.4
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2018.3
raven==6.6.0
requests==2.11.1
requests-oauthlib==0.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.1
sphinxcontrib-websupport==1.0.1
text-unidecode==1.2
tinycss2==0.6.1
typing==3.6.4
urllib3==1.22
uWSGI==2.0.17
WeasyPrint==0.42.2
webencodings==0.5.1
wrapt==1.10.11