Django==1.8.14
psycopg2
pytz
django-braces
django-extra-views
django-model-utils
django-pipeline==1.6.10
nodeenv
raven
django-user-map
django-forms-bootstrap
# Django rest framework support
djangorestframework==3.5.3
markdown
django-filter
elasticsearch==5.0.1
django-leaflet==0.16.0
django-geojson==2.8.0
django-nested-inline
django-grappelli==2.7.3
django-crispy-forms==1.4.0
setuptools==18.5
WeasyPrint
requests<2.12
beautifulsoup4
django-allauth==0.33.0
django-betterforms
celery<3.2
more_itertools
# Django haystack support
git+https://github.com/dimasciput/django-haystack.git
# Cors header
django-cors-headers==2.1.0