{% extends "account_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="single-form-container">

        <div class="loginmodal-container">
            <h1>Sign Up</h1><br>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="{{ redirect_field_name }}" value="/" />
                <input type="submit" name="login" class="login loginmodal-submit" value="Sign Up">
            </form>
        </div>
    </div>
        <style>
            .errorlist {
                        background-color: #f66;
                        color: white;
                        padding: 10px;
            }
      </style>
    <script type="application/javascript">

        $(document).ready(function () {

            var $usernameDiv = $('#id_username').parent()
            if($usernameDiv.prev().hasClass('errorlist')) {
                var errorMessage = $usernameDiv.prev().children().html();

                if(errorMessage == 'Enter a valid value.') {
                    $usernameDiv.prev().children().html('Alphanumeric characters only (letters, digits and underscores)');
                }
            }
        });

    </script>
{% endblock %}